body {
    background: linear-gradient(
        to right, 
        #d4d4d4 0%,
        #d4d4d4 25%,
            #333c47 25%, 
            #333c47 100%
    );
}

.input-group {
align-items: center;
}

.form-input,
.search-button {
    height: 40px; /* Adjust the height as needed */
    
}

.search-button {
    display: flex;
    align-items: center;
}

.hr {
    border: none;
    height: 1px;
    background-color: #333;
    margin: 10px 0;
}

.search-button {
    margin: 15px;
}

  .form-input {
    border-radius: 10px !important;
  }

.cityBtn {
    margin: 10px;
}


  /*section to change background for smaller screens from <995*/
 @media screen and (max-width: 994px){
    body {
        background-color:  #d4d4d4;
    }

  }